
.error-message, .info-message {
  text-align: center;
  margin: 15px;
  padding: 10px;
}

.error-message {
  color: red;
  border: 1px solid red;
}

.info-message {
  color: blue;
  border: 1px solid blue;
}